* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --main-color: #e50914;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Header */
  .nav > li:nth-child(2) > a{
    color: var(--main-color);
  }
  /* Slider */
  .slider{
    position: relative;
    height: 550px;
    width: 100%;
  }
  .slider .slider-background{
    width: 100%;
    height: 550px;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
    filter: brightness(50%);
  }
  .slider .slider-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
  }
  .slider a{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
  }
  .slider a:hover{
    color: var(--main-color);
  }
  .slider h4{
    font-size: 50px;
    margin-top: 8px;
  }
  .slider span{
    margin: 0 6px;
  }
  /* Border */
  .border{
    width: 100%;
    margin-top: 6px;
  }
  .border img{
    width: 100%;
    height: 10px;
  }

  /* Content */
  .content{
    margin: 80px 20px;
  }
  .content::after{
    content: "";
    display: block;
    clear: both;
  }
  .content-element{
    position: relative;
    float: left;
    width: calc(25% - 24px);
    margin: 20px 12px;
    min-height: 350px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
  }
  .content-element:hover{
    border: 5px solid var(--main-color);
  }
  .content-element:hover .buy-btn a{
    background-color: var(--main-color);
    color: #fff;
  }
  .content-element img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; 
    filter: brightness(80%);
  }
  .movie-description{
    position: absolute;
    bottom: 12px;
    color: #fff;
    margin: 8px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 90%
  }
  .movie-description .movie-info p a,
  .movie-description .movie-info p{
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: normal;
  }
  .movie-description .movie-info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .movie-info a:hover{
    color: var(--main-color);
  }
  .movie-description .buy-btn a{
    text-decoration: none;
    color:#737373;
    font-size: 13px;
    font-weight: bold;
    display: block;
    max-width: 100px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.5s ease;

  }
  /* Footer */
  #footer {
    background-color: #000;
    color: #797979;
  }
  #footer a {
    text-decoration: none;
    color: #797979;
  }
  #footer a:hover {
    color: var(--main-color);
  }
  .footer-section-1 {
    padding: 0 40px;
  }
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #ffffff26;
  }
  .footer-top .footer-logo img {
    height: 34px;
  }
  .footer-top .footer-info .help-and-policy,
  .footer-top .footer-info .media {
    display: inline-block;
  }
  .footer-top .help-and-policy {
    margin-right: 24px;
  }
  .footer-top .help-and-policy span {
    color: #797979;
  }
  .footer-top .media i {
    padding: 16px;
    background-color: #2f2f2f;
    margin: 0 4px;
    border-radius: 50%;
    color: #fff;
    transition: transform 0.6s ease;
  }
  .footer-top .media i:hover {
    background-color: var(--main-color);
    transform: translateY(-20%);
  }
  .footer-main {
    padding: 90px 0 50px;
  }
  .footer-main::after {
    content: "";
    display: block;
    clear: both;
  }
  #footer h4 {
    color: #fff;
    margin-bottom: 24px;
    line-height: 1.8;
  }
  .footer-content {
    float: left;
    width: calc(100% / 4);
    padding: 16px;
  }
  .footer-content h4 {
    font-size: 24px;
  }
  #footer .footer-content .footer-content-btn {
    display: block;
    max-width: 145px;
    padding: 8px 16px;
    color: #fff;
    background-color: var(--main-color);
    transition: background-color 0.6s ease;
  }
  #footer .footer-content .footer-content-btn:hover {
    color: var(--main-color);
    background-color: #fff;
  }
  .footer-content ul li {
    list-style-type: none;
    margin-top: 24px;
  }
  .footer-content ul li {
    list-style-type: none;
    margin-top: 24px;
  }
  
  .footer-content .hover-underline {
    position: relative;
    transition: color 0.5s ease;
  }
  
  .footer-content .hover-underline:hover {
    color: var(--main-color);
  }
  
  .footer-content .hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.5s ease;
  }
  
  .footer-content .hover-underline:hover::after {
    width: 100%;
  }
  .footer-content p {
    margin-bottom: 16px;
  }
  .footer-content .email {
    padding: 12px 24px;
    margin-bottom: 24px;
    width: 100%;
  }
  .footer-content .email::placeholder {
    color: #797979;
    opacity: 0.5;
  }
  .footer-content .agree {
    min-width: 16px;
  }
  .footer-section-2 {
    padding: 28px;
    text-align: center;
    background-color: #131313;
  }
  /* Buy ticket wrapper */
.buy-ticket-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.buy-ticket-content {
  width: 82%;
  height: 72%;
  background-color: #fdfcf0;
}
.close-buy-ticket {
  text-align: right;
}
.close-buy-ticket i {
  padding: 16px;
  font-size: 24px;
  transition: background-color 0.4s ease;
}
.close-buy-ticket i:hover {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.buy-ticket-wrapper {
  display: none;
}
.buy-ticket-content {
  overflow-y: scroll;
}
.buy-ticket-section {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin: 0 25px;
  border-bottom: 2px solid #717171;
  padding: 20px 0;
}
.date-time-element {
  display: flex;
  align-items: center;
  max-width: 80px;
  justify-content: space-between;
  height: 50px;
  color: #717171;
  cursor: pointer;
}
.date-time-element.main-color {
  color: var(--main-color);
}
.date-time-element:hover {
  opacity: 0.7;
}
.col-left-date-time {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}
.col-right-date-time {
  font-size: 32px;
}
.buy-ticket-wrapper.active {
  display: flex;
}
.selected {
  color: #fff;
  background-color: #000;
}
.place .place-element,
.type-ticket .type-ticket-element {
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}
.showtimes {
  margin: 0 25px;
}
.venue {
  padding: 20px 0;
  border-bottom: 1px solid #222222;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.venue-name {
  color: #636363;
}
.venue-showtime li {
  display: inline-block;
  list-style-type: none;
}
.venue-showtime li a {
  text-decoration: none;
  padding: 6px;
  border: 1px solid #cbcabe;
  color: #3e3e3a;
  transition: border 0.6s ease;
  border-radius: 5px;
}
.venue-showtime li a:hover {
  border: 1px solid #000;
}
